body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.185ms linear 0s; 
}

a, li, ol, ul {
    list-style-type:none;
    text-decoration: none;
    color: inherit;
}

a:visited, a:active, button {
    color: inherit;
    text-decoration: none;
}

*::selection, *::-moz-selection{
    background-color: #EE4E9C;
    color: #0E1E2B;
    }

    *,*:before, *:after{
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    header, footer > * {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }